<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Minha Aplicação</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><div></div><i class="fa-solid fa-house"></i></a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/game">Jogar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/area">Áreas</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cursos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/curso/create">Criar Curso</a>
                <a class="dropdown-item" href="/curso">Listar Cursos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
  {{{body}}}
    </div>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>