<link rel="stylesheet" href="css/style.css" />
<div style="display: flex;justify-content: center;align-items: center;">
  <h1>Jogo Chrome Dino</h1>
</div>
<div id="game" style="background-color: white;"></div>
<script src="js/game.js"></script>
