
  <form method="post">
  <h1>Adicionar Curso</h1>
    <div class="form-group">
      <label class="col-form-label mt-4" for="sigla">Sigla</label>
      <input type="text" class="form-control" placeholder="exemplo: IE08" id="sigla">
    </div>
    
    <div class="form-group">
      <label class="col-form-label mt-4" for="input-name">Nome</label>
      <input type="text" class="form-control" placeholder="exemplo: Ciência da Computação" id="input-name">
    </div>
    
    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">Descrição</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <fieldset class="form-group">
      <legend class="mt-4">Área do Conhecimento</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        <label class="form-check-label" for="optionsRadios1">Ciências Exatas - Computação, engenharias, matemática, estatística, etc.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        <label class="form-check-label" for="optionsRadios2">Ciências Humanas - Letras, psicologia, história, geografia, etc.</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        <label class="form-check-label" for="optionsRadios3">Ciências Biológicas - medicina, odontologia, biologia, agrária, etc.</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>