<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Cursos</div>
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text">Sigla: {{sigla}}</p>
    <p class="card-text">Área: {{area}}</p>
    <p class="card-text">Descrição: {{description}}</p>
  </div>
</div>