<h1>T-Rex Chrome Dino Game</h1>
<div style="display: flex;justify-content: center; align-items: center;">
  <img src="http://localhost:3000/img/dino.png" alt="Chrome Dino image" srcset="" style="border: 1px solid;width: 500px; height: 250px">
</div>
<p><strong>Chrome Dino</strong> é um jogo de navegador desenvolvido pelo Google e integrado ao navegador Google Chrome . O jogador guia um Tyrannosaurus rex pixelizado por uma paisagem de rolagem lateral , evitando obstáculos para obter uma pontuação mais alta. O jogo foi criado por membros da equipe Chrome UX em 2014.</p>
<p></p>