<h1>Considerção sobre o driver mysql2 e o Sequelize</h1>
<p>devido há um problema com os pacotes relacionados ao sequelize. Tive que adaptar um banco de dados improvisado para dar contuidade ao trabalho</p>
<p>Peço que considere, pois passei algumas horas tentando resolver o erro apresentado nas imagens abaixo. Porém era um erro de módulos internos do <strong>node_modules</strong>. Portanto eu não tinha nenhum controle sobre tal</p>
<p>desconheço a origem deste erro, mas para não deixar de entregar o trabalho improvisei uma estrutura de dados e fiz as operações solicitadas</p>

<p>Tendo em vista que segui a padronização do Sequelize, então o banco improvisado pode ser facilmente trocado pela versão estável do Sequelize caso o erro seja resolvido futuramente</p>
<div style="display: flex; justify-content: space-evenly;">
  <div>
    <a href="/img/codigo-models.png">
      <img src="/img/codigo-models.png" alt="erro apresentado" width="600px" height="500px">
    </a>
  </div>
  <div >
    <a href="/img/erro-models.png">
      <img src="/img/erro-models.png" alt="erro apresentado" width="600px" height="500px">
    </a>
  </div>
</div>